<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>autocomplete demo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
</head>
<body>

<label for="autocomplete_vinyl">Search for a vinyl record: </label>
<input id="autocomplete_vinyl">
  
<label for="autocomplete_artist">Search for artist: </label>
<input id="autocomplete_artist">

<script>
$( "#autocomplete_vinyl" ).autocomplete({
  source: function( request, response ) {
    $.ajax({
      url: "http://5.75.182.107:8017/autocomplete_vinyl",  
      dataType: "json",
      data: {
        term: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  }
});
</script>

<script>
  $( "#autocomplete_artist" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: " http://5.75.182.107:8017/autocomplete_artist",
        dataType: "json",
        data: {
          term: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    }
  });
  </script>


</body>
</html>
